@import "../../styles/global";

.tabContent {
  padding: 30px;

  .horizontalRule {
    // background-color: rgba(33, 63, 125, 0.06);
    border: 1px solid rgba(33, 63, 125, 0.06);
    // background: rgba(33, 63, 125, 0.06);
    margin-bottom: 30px;
  }

  .infoSection {
    // border: 1px solid red;

    .header {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 30px;
      /* identical to box height */

      color: #213f7d;

      @include smMaxBreakPoint {
        font-size: 14px;
      }
    }
    .details {
      display: grid;

      grid-template-columns: repeat(5, auto);
      // grid-template-rows: repeat(5, 1fr);
      //   grid-column-gap: 50px;
      grid-row-gap: 0px;

      @include xxlMaxBreakPoint {
        grid-template-columns: repeat(4, auto);
      }
      @include xlMaxBreakPoint {
        grid-template-columns: repeat(3, auto);
      }
      @include lgMaxBreakPoint {
        grid-template-columns: repeat(2, auto);
      }
      //   flex-wrap: wrap;
      //   gap: 100px;

      .detailItem {
        // margin-right: 100px;
        margin-bottom: 30px;
        // border: 1px solid red;

        width: 100%;

        @include smMaxBreakPoint {
          margin: 0 5px;
          margin-bottom: 20px;
        }

        .field {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 8px;

          /* identical to box height */

          color: #545f7d;

          @include smMaxBreakPoint {
            font-size: 10px;
          }
        }

        .value {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;

          /* identical to box height */

          color: #545f7d;

          @include smMaxBreakPoint {
            font-size: 13px;
          }
        }
      }
    }
  }
}
