@import "../../styles/global";

.tabContent {
  padding: 30px;

  .horizontalRule {
    // background-color: rgba(33, 63, 125, 0.06);
    border: 1px solid rgba(33, 63, 125, 0.06);
    // background: rgba(33, 63, 125, 0.06);
    margin-bottom: 30px;
  }
}
