@import "../../styles/global";

.tabContent {
  padding: 30px;
  font-family: "Work Sans";

  .horizontalRule {
    border: 1px solid rgba(33, 63, 125, 0.06);
    margin-bottom: 30px;
  }

  .infoSection {
    .header {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 30px;
      /* identical to box height */

      color: $primary-color;

      @include smMaxBreakPoint {
        font-size: 14px;
      }
    }
    .details {
      display: grid;

      grid-template-columns: repeat(5, auto);

      grid-row-gap: 0px;

      @include xxlMaxBreakPoint {
        grid-template-columns: repeat(4, auto);
      }
      @include xlMaxBreakPoint {
        grid-template-columns: repeat(3, auto);
      }
      @include lgMaxBreakPoint {
        grid-template-columns: repeat(2, auto);
      }

      .detailItem {
        margin-bottom: 30px;

        width: 100%;

        @include smMaxBreakPoint {
          margin: 0 5px;
          margin-bottom: 20px;
        }

        .field {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 8px;

          /* identical to box height */

          color: #545f7d;

          @include smMaxBreakPoint {
            font-size: 10px;
          }
        }

        .value {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;

          /* identical to box height */

          color: #545f7d;

          @include smMaxBreakPoint {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.unavailable {
  min-height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
