@import "../../styles/global";

.paginationButtons {
  font-family: "Work Sans";
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  color: rgb(84, 95, 125);

  @include smMaxBreakPoint {
    font-size: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .selectPages {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;

    @include mdMaxBreakPoint {
      width: 200px;
      margin-right: 0;
      white-space: nowrap;
    }

    p {
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      color: #545f7d;

      @include smMaxBreakPoint {
        font-size: 12px;
      }
    }

    select {
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      width: 80px;
      height: 30px;

      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      color: $primary-color;
      outline: none;
      border: none;

      padding-right: 20px;
      padding-left: 12px;
      /* Position the icon to the right */
      background-position: right 10px center;
      /* Use a custom icon or increase the width of the default icon to make it more visible */
      background-image: url("/Icons/selectChevron.svg");
      background-size: 16px 16px;
      background-repeat: no-repeat;
      /* Hide the default arrow icon */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  .inactive {
    opacity: 0.5;
  }

  div:nth-child(2) {
    display: flex;
    align-items: center;
  }
  button {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    color: #545f7d99;
    margin: 4px;
    position: relative;
    outline: none;
  }
  .active {
    color: #545f7d;
    font-weight: 500;
  }
  .dot {
    color: rgb(84, 95, 125, 0.6);
  }

  .navigationButtons {
    .previousButton {
      background: none;
      margin-left: 4px;
      cursor: pointer;

      cursor: pointer;
    }

    .nextButton {
      background: none;
      cursor: pointer;
    }

    span {
      position: relative;
      top: 2px;
      background-color: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      border: 0;
      padding: 4px;
      display: flex;
      align-items: center;
    }
  }

  .rowValues {
    min-width: 22.891px;
    display: flex;
    justify-content: center;
  }
  .divs {
    background-color: rgba(57, 205, 204, 0.06);
  }
}
