.inputComponent {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background: #ffffff;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;

  &.search {
    border-radius: 8px 0 0 8px;
    border: 1px solid rgba(33, 63, 125, 0.2);
    border-right: none;
    width: 84%;
  }

  input {
    padding-right: 3.5%;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 8px;

    padding-left: 3.5%;
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    // font-family: "Montserrat", sans-serif;
    color: #333;
    outline: none;

    &.search {
      height: 40px;
      // border: 1px solid red;
    }

    //

    &::placeholder {
      font-family: "Avenir Next", sans-serif;

      font-weight: 400;
      font-size: 14px;
      line-height: 19px;

      //   padding-top: 25px;
      padding-bottom: 25px;
      /* identical to box height */
      opacity: 0.6;
      color: #545f7d;
      //   border: 1px solid red;
    }
  }

  .showPassword {
    cursor: pointer;
    padding-right: 3.5%;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #39cdcc;
  }
}

.searchInput {
  display: flex;
  height: 50px;
  align-items: center;
  width: 100%;
  // border: 1px solid red;
}

.searchIcon {
  // position: absolute;
  // right: 0;
  height: 42px;
  width: 16%;

  padding: 12px;
  cursor: pointer;
  color: #999;
  background: #39cdcc;
  display: flex;
  place-items: center;

  border-radius: 0 8px 8px 0;
  // font-size: 18px;
  // border: 1px solid red;

  svg {
    // border: 1px solid red;
    margin: 0 auto;
  }
}
