@import "../../styles/global";

.users {
  height: 100%;
  width: 100%;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  place-items: center;

  @include lgMaxBreakPoint {
    margin-left: 0;
  }
}
