@import "../../styles/global";

.detailItem {
  // margin-right: 100px;
  margin-bottom: 30px;
  // border: 1px solid red;

  width: 100%;

  @include smMaxBreakPoint {
    margin: 0 5px;
    margin-bottom: 20px;
  }

  .field {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;

    /* identical to box height */

    color: #545f7d;

    @include smMaxBreakPoint {
      font-size: 10px;
    }
  }

  .value {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* identical to box height */

    color: #545f7d;

    @include smMaxBreakPoint {
      font-size: 13px;
    }
  }
}
