.container {
}

.menu {
  width: 200px;
  //   height: 130px;
  padding: 20px;
  aspect-ratio: 180/130;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: -40px;

  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .moreItem {
    width: 100%;
    gap: 8px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    // border: 1px solid red;
  }
}
