@import "../../styles/global";

.overviewCard {
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  font-family: "Work Sans";
  width: 100%;
  aspect-ratio: 240/160;

  @include smMaxBreakPoint {
    margin: 0 auto;
  }

  .container {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 14px;

    justify-content: center;

    @include smMaxBreakPoint {
      gap: 10px;
    }

    img {
      width: 40px;

      @include smMaxBreakPoint {
        width: 30px;
      }
    }

    .field {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;

      color: #545f7d;

      @include smMaxBreakPoint {
        font-size: 12px;
      }
    }

    .value {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;

      color: $primary-color;

      @include smMaxBreakPoint {
        font-size: 20px;
      }
    }
  }
}
