.sidebarItem {
  display: flex;
  align-items: center;
  //   border: 1px solid red;
  padding: 10px 0;
  padding-left: 30px;
  gap: 10px;
  cursor: pointer;
  opacity: 0.6;

  // .sidebarItemIcon {
  //   border: 1px solid red;
  //   width: 20px;

  //   // height: 12px;

  // }

  img {
    width: 16px;
    //
    // border: 1px solid red;
  }

  p {
    color: #213f7d;
  }
}
