@import "../../styles/global";

.sidebarItem {
  display: flex;
  align-items: center;
  //   border: 1px solid red;
  padding: 10px 0;
  padding-left: 30px;
  gap: 10px;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s ease;
  font-family: "Work sans", sans-serif;

  // .sidebarItemIcon {
  //   border: 1px solid red;
  //   width: 20px;

  //   // height: 12px;

  // }

  &.selected {
    background-color: rgba(57, 204, 205, 0.06);
    border-left: 3px solid #39cdcc;
    opacity: 1;
  }

  img {
    width: 16px;
    //
    // border: 1px solid red;
  }

  p {
    color: $primary-color;
  }
}
