@import "../../styles/global";

.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  display: flex;

  .logoSection {
    width: 283px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    gap: 10px;

    .menu {
      display: none;
      cursor: pointer;

      @include lgMaxBreakPoint {
        display: block;
      }
    }

    .logoContainer {
      width: 60%;

      @include lgMaxBreakPoint {
        width: 150px;
      }
      @include mdMaxBreakPoint {
        width: 100px;
      }

      img {
        width: 100%;
      }
    }
  }

  .rightSection {
    flex: 1;

    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1700px;
    margin: 0 auto;

    @include mdMaxBreakPoint {
      justify-content: flex-end;
    }

    @include xlMaxBreakPoint {
      padding: 0 2%;
    }

    .searchContainer {
      width: 400px;

      @include lgMaxBreakPoint {
        width: 300px;
        margin-right: 20px;
      }
      @include smMaxBreakPoint {
        width: 200px;
      }
    }

    .options {
      display: flex;
      align-items: center;

      @include lgMaxBreakPoint {
        gap: 24px;
      }

      .searchIconContainer {
        img {
          margin-bottom: -5px;
        }
        @include mdMaxBreakPoint {
        }
      }

      .docs {
        color: $primary-color;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        margin-right: 47px;

        @include lgMaxBreakPoint {
          margin-right: 0;
        }

        @include mdMaxBreakPoint {
          display: none;
        }
      }

      .notificationContainer {
        margin-right: 30px;

        @include lgMaxBreakPoint {
          margin-right: 0;
        }
        @include mdMaxBreakPoint {
          margin-right: 0;
        }

        img {
          margin-bottom: -5px;
          padding-bottom: -5px;
        }
      }

      .userProfile {
        display: flex;
        gap: 4px;
        position: relative;
        cursor: pointer;
      }

      .avatar {
        width: 48px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-image: url("/avatar.png");
        background-position: center;
        background-size: cover;
        margin-right: 10px;

        @include lgMaxBreakPoint {
          width: 40px;
          margin-right: 0;
        }
        @include mdMaxBreakPoint {
          width: 30px;
        }
      }

      .name {
        display: flex;
        align-items: center;

        p {
          font-family: "Work Sans", sans-serif;
          font-weight: 500;
          color: $primary-color;
          margin-right: 10px;

          @include lgMaxBreakPoint {
            display: none;
          }
        }
      }
    }
  }
}
