@import "../../styles/global";

.infoSection {
  // border: 1px solid red;

  .header {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
    /* identical to box height */

    color: #213f7d;

    @include smMaxBreakPoint {
      font-size: 14px;
    }
  }
  .details {
    display: grid;

    grid-template-columns: repeat(5, auto);
    // grid-template-rows: repeat(5, 1fr);
    //   grid-column-gap: 50px;
    grid-row-gap: 0px;

    @include xxlMaxBreakPoint {
      grid-template-columns: repeat(4, auto);
    }
    @include xlMaxBreakPoint {
      grid-template-columns: repeat(3, auto);
    }
    @include lgMaxBreakPoint {
      grid-template-columns: repeat(2, auto);
    }
    //   flex-wrap: wrap;
    //   gap: 100px;
  }
}
