@import "../../styles/global";

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;

  @include lgMaxBreakPoint {
    flex-direction: column;
  }

  .logoContainer {
    position: absolute;
    top: 11%;
    left: 6.7%;
    // border: 1px solid red;
  }

  .leftSection {
    height: 100%;
    width: 51%;
    // border-right: 1px solid rgba(0, 0, 0, 0.261);
    display: flex;
    place-items: center;
    background: rgb(255, 255, 255);

    @include lgMaxBreakPoint {
      width: 100%;
      border: 1px solid red;
      display: none;
    }

    .imageContainer {
      width: 81.5%;
      //   aspect-ratio: 2/1;
      //   border: 1px solid red;
      margin: 0 auto;

      @include lgMaxBreakPoint {
        display: flex;
        place-items: center;
      }

      img {
        width: 100%;
        // aspect-ratio: 2/1;

        @include lgMaxBreakPoint {
          width: 70%;
          //   border: 1px solid red;
          margin: 0 auto;
        }
      }
    }
  }

  .rightSection {
    height: 100%;
    width: 49%;
    display: flex;
    place-items: center;
    padding-right: 4%;
    padding-bottom: 4%;
    background-color: #fff;
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);

    @include lgMaxBreakPoint {
      width: 100%;
      //   border: 1px solid red;
    }

    // border: 2px solid red;

    .content {
      width: 63%;
      //   padding: 200px 0;
      margin: 0 auto;
      //   margin-bottom: 4%;
      //   margin-right: 4%;
      //   border: 1px solid red;

      @include mdMaxBreakPoint {
        width: 80%;
        //   border: 1px solid red;
      }

      .heading {
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: -0.04em;
        // border: 1px solid red;
        color: #213f7d;
        margin-bottom: 2%;
      }

      .secondaryText {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        // border: 1px solid red;
        color: #545f7d;
        margin-bottom: 66px;
      }

      .inputGroup {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      .forgotPassword {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;

        letter-spacing: 0.1em;
        margin-top: 24px;
        margin-bottom: 30px;

        color: #39cdcc;
      }
    }
  }
}
