@import "../../styles/global";

.userDetails {
  //   border: 1px solid red;
  width: 100vw;
  height: 100vh;
  padding-left: 283px;
  padding-top: 100px;

  @include lgMaxBreakPoint {
    padding-left: 0px;
  }

  .container {
    // border: 1px solid green;
    padding: 60px 4.5%;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1700px;

    .backButton {
      //   border: 1px solid red;
      display: flex;
      gap: 13px;
      align-items: center;
      margin-bottom: 26px;
      cursor: pointer;
    }

    .headingSection {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      @include mdMaxBreakPoint {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 40px;
      }

      p {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;

        color: #213f7d;
      }

      .buttonGroup {
        width: 360px;
        display: flex;
        gap: 20px;
        align-items: center;
        font-family: "Work sans", sans-serif;

        // border: 1px solid red;
      }
    }
  }
}
